body {
    background-color: rgb(160, 153, 153);
}

////----image----- {////
    ////---background-image: url(../images/logo_black.png);---////
   //// ---opacity: 0.3;---////
 ////----max-width: 100%;----/////
}


.btn_small {
    color: rgb(85, 84, 84);
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.nav-wrapper {
    font-weight: bold;
    background-color: rgb(252, 4, 4);

}