.body {
    background-color: rgb(160, 153, 153);
}

.btn_small {
    background-color: orange;
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.nav-wrapper {
    background-color: rgb(252, 4, 4);

}