{% extends 'base.html' %} {% block content %}
<h3>Add Task</h3>
<div class="row">
    <form action="" method="POST" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                    <label>Task Category</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="customer_name" name="customer_name" type="text">
                <label for="icon_prefix">Customer Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="call_description" id="call_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Call Description</label>
            </div>
        </div>
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">eircode</i>
                <input id="customer_eirode" name="customer_eircode" type="text">
                <label for="icon_telephone">Eircode</label>
            </div>
        </div>
                    <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">number</i>
                <input id="customer_number" name="customer_number" type="text">
                <label for="icon_telephone">Number</label>
            </div>
        </div>
                            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">engineer</i>
                <input id="engineer_name" name="engineer_name" type="text">
                <label for="icon_telephone">Engineer</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="call_date" name="call_date" type="text" class="datepicker">
                <label for="icon_prefix">Call Date</label>
            </div>
        </div>
        <div class="row">
                    <div class="input-field col s12">
                <i class="material-icons prefix">time</i>
                <input id="call_time" name="call_time" type="text">
                <label for="icon_prefix">Call Time</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Is Urgent
                </label>
            </div>
        </div>
    </form>
</div>

{% endblock %}