{% extends 'base.html'%} {% block content %}

<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header">
                <div class=" task_header col s10">
                    <i class="material-icons">expand_more</i> {{task.call_date}}
                    <i class="material-icons">expand_more</i> {{task.call_time}}
                    <i class="material-icons">expand_more</i> {{task.engineer_name}}
                    <i class="material-icons">expand_more</i> {{task.category_name}}
                    <i class="material-icons">expand_more</i> {{task.customer_name}}
                </div>
            <div class="switch">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                  Completed
                </label>
        </div>
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small orange">Del</a>
                    <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small orange">Edit</a>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.call_description}} - {{task.customer_eircode}} - {{task.customer_number}}
                </span>
            </div>
            
        </li>
        {% endfor %}
    </ul>
{% endblock %}
