{% extends 'base.html'%} {% block content %}
 <div class="search col m12 s12">
         <nav>
            <div class="nav-wrapper">
               <form action="{{url_for('find_customer')}}">
                  <div class="input-field">
                     <input id="search" type="search" name="search" required>
                     <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                     <i class="material-icons">close</i>
                  </div>
                  <div id="search_btn">
                     <button class="btn waves-effect waves-light" id="submit" type="submit" name="action">Search
                     </button>
                     </div>
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for task in tasks %}
        <li>
                    <div class="collapsible-header">
                <div class=" task_header col s6">
                    <i class="material-icons">expand_more</i> {{task.engineer_name}} - {{task.category_name}}
                </div>
                            <div class="collapsible-header">
                <div class=" task_header col s6">
                    <i class="material-icons">expand_more</i>{{task.customer_name}}
                </div>
            <div class="collapsible-header">
                <div class=" task_header col s6">
                    <i class="material-icons">expand_more</i>{{task.call_date}} - {{task.call_time}}
                </div>
            <div class="switch">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                  Completed
                </label>
        </div>
            <div class="collapsible-body">
                <span>
                    {{task.call_description}} - {{task.customer_eircode}} - {{task.customer_number}}
                </span>
            </div>
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small orange">Del</a>
                    <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small yellow">Edit</a>
                    
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{task.call_description}} - {{task.customer_eircode}} - {{task.customer_number}}
                </span>
            </div>
            
        </li>
        {% endfor %}
    </ul>

{% endblock %}
